@media(max-width:1200px){
 .main__intro{
    width: 100%;
 }
 .main__section2{
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
 }
 .main__card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .main__box1{
    display: grid;  
    grid-template-columns: repeat(2,1fr);
 }
 .main__card1{
    margin: 0 auto;
 }
}
@media (max-width:856px) {
    .foto{
      width: 300px;
    }
    .main__box1{
        display: grid;  
        grid-template-columns: repeat(1b,1fr);
     }
     .main__intro{
      flex-direction: column;
     }
     .main__card2{
      margin-top: 10px;
      margin-bottom: 10px;
     }
 

}
@media (max-width:630px) {
   .main_h4{
      font-size: 8px;
      font-weight: 650px;
      text-align: center;
      margin-top: 5px;
   }
   .main__h2{
      font-size: 20px;
      font-weight: 350px;
   }
   .main__box{
      flex-direction: column;
      justify-content: center;
      align-items: center ;
   }
.main__box1{
   display: flex;
   flex-direction: column;
}
}
@media (max-width:555px) {

   .footer__text{
      font-size:10px ;
   
   }
   .foto:nth-of-type(1){
      width: 329px;
      height: 171px;
  }.foto:nth-of-type(2){
   width: 355px;
   height: 171px;
 }
 .foto:nth-of-type(3){
   width: 535px;
   height: 171px;
 }
 .foto:nth-of-type(4){
   width: 159px;
   height: 171px;
 }
 .foto:nth-of-type(5){
   width: 259px;
   height: 171px;
 }
 .foto:nth-of-type(6){
   width: 425px;
   height: 171px;
 }
}
@media (max-width:580px) {
   .nav__list{
      position: absolute;
      top: 0;
      right: -300px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: blueviolet;
      height: 100vh;
      width: 30%;
      transition: 0.5s;
   }

   .nav__menu,.nav__close{
      display: block;
  }
  #menu:checked ~ .nav__list{
      right: 0;
  }
  .header{
      position: relative;
      overflow: hidden;
  }
}
@media (max-width:600px) {

   .section__h2{
      font-size: 45px;
   }
}
@media (max-width:395px) {
   .main__foto{
      width:320px;
   }
   .section__h2{
      font-size: 30px;
   }
   .foto:nth-of-type(2){
      width: 255px;
      height: 171px;
    }
    .foto:nth-of-type(3){
      width: 435px;
      height: 171px;
    }
    .foto:nth-of-type(6){
      width: 325px;
      height: 171px;
    }
    .main__h2{
      font-size: 15px;
      width: 250px;
    }
    .main__p{
      font-size: 15px;
      width: 250px;
    }
    .main__card{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
}
@media (max-width:345px) {

.section__info{
   flex-wrap: wrap;
}
}
@media (max-width:555px) {

 
   .foto:nth-of-type(1){
      width: 225px;
      height: 125px;
      margin: 0 auto;
      display: block;
  }.foto:nth-of-type(2){
   width: 225px;
   height: 125px;
   margin: 0 auto;
   display: block;
 }
 .foto:nth-of-type(3){
   width: 225px;
   height: 125px;
   margin: 0 auto;
   display: block;
 }
 .foto:nth-of-type(4){
   width: 225px;
   height: 125px;
   margin: 0 auto;
   display: block;
 }
 .foto:nth-of-type(5){
   width: 225px;
   margin: 0 auto;
   display: block;
   height: 125px;
 }
 .foto:nth-of-type(6){
   width: 225px;
   margin: 0 auto;
   display: block;
   height: 125px;
 }
}
@media (max-width:337px) {
   .card1__img{
      width: 189px;
      height: 95px;
   }
  .newimg{
   width: 230px;
   height: 130px;
  }
}


